* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #7fffd4;
}

header {
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 5rem;
}

header .left {
    display: flex;
    align-items: center;
}

header .right {
    padding: 2rem;
}

main {
    height: calc(100vh - 8rem);
    overflow-y: auto;
}

.playBtn {
    width: 5rem;
    font-weight: 999;
}


#grid {
    height: 50rem;
    width: 50rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    text-align: center;
    padding-top: 2rem;

}


.boxMedium {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    text-align: center;
    padding-top: 2.5rem;
}

.boxHard {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    text-align: center;
    padding-top: 3rem;
}

#difficulty {
    width: 7rem;
    background-color: red;
    color: white;
    font-weight: 999;
}


footer {
    height: 3rem;
    background-color: white;
    padding: 1rem;

}